.App {
  text-align: center;
}
table {
  border-collapse: collapse;
  width: 100%;
}



.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1, input {
  margin: 10px;
}

button {
  height: 32px;
  font-size: 14px;
  border: none;
  background-color: #61dafb;
  color: white;
  border-radius: 4px;
  padding: 4px 8px;
  margin-left: '1em';
  margin-right: '1em';
  cursor: pointer;
}

button:hover {
  background-color: #4da7db;
}

table {
  margin-top: 16px;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: whitesmoke;
}